@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('https://fonts.nickmazuk.com/inter-variable.woff2') format('woff2');
}

@layer base {
    * {
        @apply min-w-0 min-h-0;
    }

    body {
        @apply bg-background text-foreground overflow-x-hidden font-normal text-base;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #svelte {
        @apply flex flex-col min-h-screen justify-start;
    }
}

@layer utilities {
    .wrapper {
        @apply mx-auto px-6 max-w-screen-lg;
    }

    /* TEXT */

    .text-bold {
        @apply font-semibold;
    }
    
    .text-semibold {
        @apply font-medium;
    }
    
    .text-black {
        @apply font-bold;
    }
    
    .text-uppercase {
        @apply uppercase text-semibold;
    }
    
    .h1 {
        @apply text-7xl text-bold font-display;
    }
    
    .h2 {
        @apply text-6xl text-bold font-display;
    }
    
    .h3 {
        @apply text-5xl text-bold font-display;
    }
    
    .h4 {
        @apply text-4xl text-bold font-display;
    }
    
    .h5 {
        @apply text-3xl text-bold font-display;
    }
    
    .h6 {
        @apply text-2xl text-bold font-display;
    }

    .link {
        @apply text-semibold no-underline text-link hover:underline;
    }
}

.prose {
    @apply text-foreground;
}

.prose h1 {
    @apply h2;
}
.prose h2 {
    @apply h3;
}
.prose h3 {
    @apply h5;
}
.prose h4 {
    @apply h6;
}
.prose code {
    @apply text-highlight;
}
.prose pre {
    @apply bg-gray-100 text-foreground;
}
.prose a
{
    @apply link;
}
.prose img {
    @apply rounded-lg;
}
.prose blockquote {
    @apply not-italic;
}

:target {
    scroll-margin-top: 96px;
}